  <tr valign="top" class=" <%=cycle('list-line-odd', 'list-line-even')%>">
		<td><%=h job.customer %></td> 
		<td><%=h job.name %></td>
		<td><%=h job.number %></td>
		<td><%=h job.version %></td>
		<td><%=h job.printing_process %></td>
		<td><%=h job.printing_type %></td>
		<td><%=h job.ink_manufacturer %></td>
		<td><%=h job.inkset %></td>
		<td><%=h job.plate %></td>
		<td><%=h job.plate_curve %></td>
		<td><%=h job.substrate %></td>
		<td><%=h job.standard %></td>
		<td><%=h job.tolerance %></td>
		<td><%=h job.control_bar %></td>
	</tr>
