<div>
	<h4><%= link_to "Notification", :controller => 'sheets', :action => 'index' %></h4>
		<div>
			<%= link_to "Distribution", :controller => 'sheets', :action => 'member_de_distribution' %><br/>
			<%= link_to "Patches", :controller => 'sheets', :action => 'member_patches_average_de' %><br/>
			<%= link_to "Devices", :controller => 'sheets', :action => 'member_device_average_de' %><br/>
			<%= link_to "Quantities", :controller => 'sheets', :action => 'member_device_sheet_count' %><br/>

		</div>
</div>